<section data-ng-controller="boardController" data-ng-init="findBoards()">
    <div data-ng-show="authentication.user">
        <span data-ng-bind="authentication.user.username"></span>
        <a class="btn btn-default" href="/signout">로그아웃</a>
        <a class="btn btn-default" href ng-click="viewCreate()">보드 생성</a>
    </div>
    <h1>Boards</h1>
    <ul>
        <li data-ng-repeat="board in boards">
            <a class="btn btn-default" data-ng-href="#!/main/{{board._id}}/memo" data-ng-bind="board.name"></a> <!-- 보드 들어가기 -->
            <span data-ng-show="authentication.user._id == board.creator">
                <a class="btn btn-default" data-ng-click="delete(board);">X</a>
            </span>
    </ul>

</section>

