<section data-ng-controller="boardController">
    <form name="addForm" data-ng-submit="addMember()" novalidate>
        <div>
            <label for ="username">ID</label>
            <input type="text" data-ng-model="username" id="username" placeholder="추가할 계정" required>
        </div>
        <button type="button" data-ng-click="">+</button> <!-- 보드 지우기-->
        <button type="submit" ng-disabled="addForm.$invalid">완료</button>
    </form>
    <div data-ng-show="error">
        <strong data-ng-bind="error"></strong>
    </div>
</section>