<section data-ng-controller="boardController" data-ng-init="findOne()">
    <form data-ng-submit="update()" novalidate>
        <div>
            <label for ="name">Name</label>
            <div>
                <input type="text" data-ng-model ="board.name" id="name" placeholder="보드명" required>
            </div>
        </div>
        <div>
            <button type="submit">완료</button>
        </div>
        <div data-ng-show="error">
            <strong data-ng-bind="error"></strong>
        </div>
    </form>
</section>