<!--<section data-ng-controller="boardController">
    <form name="addForm" data-ng-submit="addMember()" novalidate>
        <div>
            <label for ="username">ID</label>
            <input type="text" data-ng-model="username" id="username" placeholder="추가할 계정" required>
        </div>
        <button type="button" data-ng-click="">+</button> &lt;!&ndash; 보드 지우기&ndash;&gt;
        <button type="submit" ng-disabled="addForm.$invalid">완료</button>
    </form>
    <div data-ng-show="error">
        <strong data-ng-bind="error"></strong>
    </div>
</section>-->
<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close2('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">ADD MEMBERS</h4>
            </div>
            <div class="modal-body">
                <form name="addForm" data-ng-submit="addMember()" novalidate>
                    <div>
                        <label for ="username">ID</label>
                        <input type="text" data-ng-model="username" id="username" placeholder="추가할 계정" required>
                    </div>
                    <button type="submit" ng-disabled="addForm.$invalid">add</button>
                </form>
                <div data-ng-show="message">
                    <strong data-ng-bind="message"></strong>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
