<section data-ng-controller="boardController" ng-cloak data-ng-init="findMemos() || viewMemo()" class="ng-cloak">

    <span data-ng-bind="authentication.user.username"></span>
    <a href ng-click="viewRename()" data-ng-bind="board.name"></a>
    <a class="btn btn-default" href="/signout">Log out</a>
    <a class="btn btn-default" href data-ng-click="viewMemoCreate()" ->Create memos..</a>
    <a class="btn btn-default" href ng-click="viewInfo()">Board Information</a>
    <a class="btn btn-default" href ng-click="viewAddMember()">add members..</a>
    <a class="btn btn-default" href="/webmemo#!/main/">Board list</a>
    <h1>Memos</h1>
    <ul scroll-glue>
        <li data-ng-repeat="memo in memos">
            <a data-ng-bind="memo.title" href="/webmemo#!/main/{{boardId}}/memo/{{memo._id}}/view" data-ng-click="viewMemo()"></a>
            <br>
            <p data-ng-bind="memo.contents"></p>
            <br>
            <div data-ng-show="authentication.user._id == memo.creator">
                <a class="btn btn-default" href="" data-ng-click="viewEdit()">edit</a>
                <a class="btn btn-default" href data-ng-click="deleteMemo(memo);">지우기</a>
            </div>
        </li>
    </ul>
</section>
