<!--
<section data-ng-controller="memoController" data-ng-init="findOne()">
    <h data-ng-bind="memo.title"></h>
    <br>
    <p data-ng-bind="memo.contents"></p>
    <br>
    <small data-ng-bind="memo.created | date:'medium'"></small>
    <small data-ng-bind="memo.creator.username"></small>
    <a class="btn btn-default" href="/#!/main/{{boardId}}/memo/">메모 리스트로</a>
</section>-->


<div class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" data-ng-bind="memo.title"></h4>
            </div>
            <div class="modal-body">
                <br>
                <h data-ng-bind="memo.contents"></h>
                <br>
                <small data-ng-bind="memo.created | date:'medium'"></small>
                <small data-ng-bind="memo.creator.username"></small>
                <br>
                <form data-ng-submit="makeComment()">
                    <div>
                        <label for="comment">Add Comment</label>
                        <div>
                            <textarea data-ng-model="comment" id="comment" cols="30" rows="1" placeholder="Write a comment.."></textarea>
                        </div>
                    </div>
                    <div>
                        <button type="submit">댓글 남기기</button>
                    </div>
                </form>
                <br>
                <div data-ng-repeat="comment in comments">
                    <span data-ng-bind="comment.creator.username"></span>
                    <span data-ng-bind="comment.content"></span>
                    <br>
                    <small data-ng-bind="comment.created  | date:'medium'"></small>
                    <span data-ng-show="authentication.user._id == comment.creator._id">
                        <a class="btn btn-default" href data-ng-click="deleteComment(comment);">X</a>
                    </span>
                </div>
            </div>

            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>