<section data-ng-controller="memoController" data-ng-init="find()">
    <a class="btn btn-default" href="/signout">로그아웃</a>
    <a class="btn btn-default" href="/#!/main/{{boardId}}/memo/create">메모 생성</a>
    <a class="btn btn-default" href="/#!/main/">보드 리스트로</a>
    <h1>Memos</h1>
    <ul>
        <li data-ng-repeat="memo in memos">
            <a data-ng-href="/#!/main/{{boardId}}/memo/{{memo._id}}/view" data-ng-bind="memo.title"></a>
            <br>
            <p data-ng-bind="memo.contents"></p>
            <br>
            <a class="btn btn-default" href="/#!/main/{{boardId}}/memo/{{memo._id}}/edit">edit</a>
            <a class="btn btn-default" href data-ng-click="delete(memo);">지우기</a>
        </li>
    </ul>
</section>
