//
   Created by Jun on 2016-03-17.
doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/stylesheet/signin.css")
        style(type='text/css').
            [ng\:cloak], [ng-cloak], .ng-cloak {
                display: none !important;
            }
        title WebMemo
    body
        section(ng-view)

        script.
            if(!{user} == 'undefined')
                window.user = 'null';
            else
                window.user = !{user};
            window.message = "!{errorMessage}";
        script(type="text/javascript" src="/lib/jquery/dist/jquery.min.js")
        script(type="text/javascript" src="/lib/angular/angular.js")
        script(type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js")
        script(type="text/javascript" src="/lib/angular-route/angular-route.js")
        script(type="text/javascript" src="/lib/angular-resource/angular-resource.js")
        script(type="text/javascript" src="/lib/angular-modal-service/dst/angular-modal-service.min.js")
        script(type="text/javascript" src="/lib/angular-scroll-glue/src/scrollglue.js")

        script(type="text/javascript" src="/index/index.client.module.js")
        script(type="text/javascript" src="/index/config/index.client.routes.js")
        script(type="text/javascript" src="/index/controllers/index.client.controller.js")
        script(type="text/javascript" src="/index/controllers/index.client.modalCtrl.js")
        script(type="text/javascript" src="/index/services/index.client.service.js")

        script(type="text/javascript" src="/memo/memo.client.module.js")
        script(type="text/javascript" src="/memo/config/memo.client.routes.js")
        script(type="text/javascript" src="/memo/controllers/client.memo.memoCtrl.js")
        script(type="text/javascript" src="/memo/controllers/client.memo.memoModalCtrl.js")
        script(type="text/javascript" src="/memo/controllers/client.memo.memoModalCtrl2.js")
        script(type="text/javascript" src="/memo/services/client.memo.service.js")
        script(type="text/javascript" src="/memo/services/client.memo.commentService.js")

        script(type="text/javascript" src="/board/client.board.module.js")
        script(type="text/javascript" src="/board/config/client.board.routes.js")
        script(type="text/javascript" src="/board/controllers/client.board.boardCtrl.js")
        script(type="text/javascript" src="/board/controllers/client.board.boardModalCtrl.js")
        script(type="text/javascript" src="/board/controllers/client.board.infoModalCtrl.js")
        script(type="text/javascript" src="/board/services/client.board.service.js")
        script(type="text/javascript" src="/app.js")
